@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Finlandica&display=swap');

*{
    padding: 0;
    margin: 0;
}

header nav img{
    width: 30px;
    padding: 10px;
}

h1{
  color: rgb(0, 0, 0);
  font-family: "Anton", "sans-serif";
  display: flex;
  justify-content: center;
}

#formIniciarSesion{
  display: flex;
  flex-direction: column;
}

.fondo{
  background-image: url("./img/fondoIniciarSesion.jfif");
  background-repeat: no-repeat;
  background-size: 100%;
}

label{
  font-family: "Finlandica", "sans-serif";
}

.registrarse{
  display: flex;
  justify-content: center;
}

.boton{
  display: flex;
  justify-content: center;
  width: 100px;
}