@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Finlandica&display=swap');

*{
    padding: 0;
    margin: 0;
}

header nav img{
    width: 30px;
    padding: 10px;
}

.fondo{
  background: url("./img/fondoRegistro.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

h1{
  color: rgb(0, 0, 0);
  font-family: "Anton", "sans-serif";
  display: flex;
  justify-content: center;
}

label{
  font-family: "Finlandica", "sans-serif";
}
