<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Juego PIA</title>
    <link rel="icon" href="static/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="static/styles.css">
  
</head>
<body>
    <main>
        <img src="static/img/LogoODS.svg" alt="Logo ODS QUEST">
        <div class="botones">
            <a href="https://tpi-1cuat-lanzani-ojea-vega-y-villarroel.catalinavega6.repl.co/comenzar"><button class="boton1">Comenzar</button></a>

            <a href="https://tpi-1cuat-lanzani-ojea-vega-y-villarroel.catalinavega6.repl.co/informacion"><button class="boton">Información</button></a>

            <a href="https://tpi-1cuat-lanzani-ojea-vega-y-villarroel.catalinavega6.repl.co/puntajes"><button class="boton">Puntajes</button></a>
        </div>
    </main>
</body>
</html>