<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="static/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="static/informacion.css">
    <title>Información</title>
</head>
<body>
  <header>
    <nav>
      <a href="https://tpi-1cuat-lanzani-ojea-vega-y-villarroel.catalinavega6.repl.co/"><img src="static/img/flecha-izquierda.png" alt="Volver al inicio"></a>
      <h2>Información acerca de los ODS elegidos</h2>
    </nav>
  </header>
    <main>
        <section class="contenedor">
            <div>
                <a href="https://agenda2030lac.org/es/ods/1-fin-la-pobreza" target="_blank"><img src="static/img/ods1.png" alt="Foto ODS N°1"></a>
            </div>
            <div>
                <a href="https://agenda2030lac.org/es/ods/3-salud-y-bienestar" target="_blank"><img src="static/img/ods3.jpg" alt="Foto ODS N°3"></a>
            </div>
            <div>
                <a href="https://agenda2030lac.org/es/ods/6-agua-limpia-y-saneamiento" target="_blank"><img src="static/img/ods6.png" alt="Foto ODS N°6"></a>
            </div>
            <div>
                <a href="https://agenda2030lac.org/es/ods/7-energia-asequible-y-no-contaminante" target="_blank"><img src="static/img/ods7.png" alt="Foto ODS N°7"></a>
            </div>
            <div>
                <a href="https://agenda2030lac.org/es/ods/10-reduccion-de-las-desigualdades" target="_blank"><img src="static/img/ods10.png" alt="Foto ODS N°10"></a>
            </div>
        </section>
        <section>
            <div class="mas-paginas">
                <p>Más páginas:</p>
                    <a href="https://pampa2030.org.ar/" target="_blank"><img src="static/img/pampa2030.png" alt="Foto Pampa 2030"></a>
            </div>
        </section>
    </main>
</body>
</html>