<!DOCTYPE html>
<html lang="s">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro</title>
  <link rel="icon" href="static/img/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="static/registro.css">
</head>
<body class="fondo">
  <header>
    <nav>
      <a href="https://tpi-1cuat-lanzani-ojea-vega-y-villarroel.catalinavega6.repl.co/"><img src="static/img/flecha-izquierda.png" alt="Volver al inicio"></a>
    </nav>
  </header>
    {% block content %}
  <div class="column is-4 is-offset-4">
      <h1 class="title">Registrate</h1>
      <div class="box">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="notification is-danger">
                    {{ messages[0] }}
                </div>
            {% endif %}
        {% endwith %}
        <center><form id="formRegistro" method="POST" action="/juego">
            <div class="field">
                <div class="control">
                    <label for="nombre">Nombre</label>
                    <input class="input is-large" type="text" name="nombre" id="nombreElegido" placeholder="Ingrese un nombre" autofocus="" required>
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <label for="contraseña">Contraseña</label>
                    <input class="input is-large" type="password" name="contraseña" id="contraseñaElegida" placeholder="Contraseña" required></center>
                </div>
            </div>
          <br>
          <center><input type="button" value="Crear Cuenta" onclick="confirmarCuentaRepetida({{listaUsuarios}})"></center>
        </form>
        <br><br>
      </div>
  {% endblock %}
  <script src="../static/script.js" type="text/javascript"></script>
</body>
</html>
